.teamHeader {
    color: white;
    background-color: red;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    padding-top: 20px;
}

.iconStyle {
    padding-top: 4px;
    padding-right: 6px;
}

.card-header{
    color: white;
    background-color: blue;
}